* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(201, 196, 196);
    font-weight: bold;
}

.container {
    width: 100%;
    border-radius: 7px;
    display: block;
    margin: auto;
    background-color: #08192e;
}

#top-div {
    width: 100%;
    height: 200px;
    padding-top: 1.5rem;
    text-align: center;
    display: block;
    margin: auto;
    background-color: rgb(88, 88, 245);
}

#head-p {
    font-size: 1.6rem;
    color: #fff;
}

#unit-value {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    background: transparent;
    border: 2px solid gray;
    border-radius: 5px;
    width: 88px;
    padding: .3rem 0;
}

button {
    display: block;
    margin: 1rem auto;
    padding: .6rem 1.5rem;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
}

#bottom-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
}

.length, .volume, .mass {
    background-color: #223449;
    padding: 1.2rem 0;
    margin: 1rem 0;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 2px;
}

#bottom-div h1 {
    font-size: 1.3rem;
    color: rgb(196, 193, 193);
}

.converted-p {
    color: #f5f5f5;
    font-size: 1.3rem;
    line-height: 3rem;
}